{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <title>HELLO,AMAP!</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id="container"></div>
    
    <div id="leftPanel">
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
        <div>
            <p>
                from<input type="number" id="start-input" value="1" class="short-input">to<input type="number" id="end-input" value="1" class="short-input">
                <button onclick="queryData()" class="range-btn">OK</button>
                <button onclick="lastChooseNum(10)" class="range-btn">:10</button>
                <button onclick="lastChooseNum(20)" class="range-btn">:20</button>
                <button onclick="lastChooseNum(30)" class="range-btn">:30</button>
                <button onclick="lastChooseNum(50)" class="range-btn">:50</button>
                <button onclick="reloadLogData()" class="range-btn">Refresh</button>
                <button onclick="clearChooseItems(1)" class="range-btn">Clear</button>
                <button onclick="trafficButton()" class="range-btn">Traffic</button>
            </p>
        </div>
        <ul>
            {% for item in logdata %}
	    <li id="item_{{ item.0 }}" selected_flag="false" num="{{ item.0 }}" brand="{{ item.1 }}" time="{{ item.2 }}" longti="{{ item.3 }}" lati="{{ item.4 }}" speed="{{ item.5 }}">
                <label>
                    <span>{{ item.0 }}&emsp;{{ item.1 }}&emsp;{{ item.2 }}<br>
                    经度: {{ item.3 }}<br>
                    纬度: {{ item.4 }}<br>
                    速度: {{ item.5 }}</span><br>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://webapi.amap.com/maps?v=2.0&key=36714d35610a41653e12085d040c0310"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>

</html>
